.image-container img {
    height: 470px;
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.infos h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.infos p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.infos button {
    padding: 10px 20px;
    border: 1px solid rgb(214, 214, 214);
    background-color: white;
    cursor: pointer;
}

.infos button:hover {
    background-color: black;
    color: white;
    transition: .3s;
}

@media screen and (max-width: 767px) {
    .image-container img {
        height: 400px;
        width: 400px;
    }
}